body{
	margin: 0;
	font-family: Helvetica;
}


.content{
	width: 600px;
	height: auto;
	margin: 0 auto;
}

.headline{text-align: center;font-family: "Windows",Helvetica;}


table th{
	width:200px;
	border: 1px solid rgb(124, 18, 18);
	padding: 20px;
	background: rgba(18, 15, 189, 0.808);
	color: rgb(255, 255, 255);
}

table td{
	border: 1px solid black;
	padding: 5px;
}

.update_task{
	margin-top: 100px;
}
.update_task #content{
	width: 500px;
}
a{
	text-decoration: none;
}
